<div class="row">
  <div class="col-md-12">
    <nav aria-label="Navegación">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">&laquo;</a>
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
          </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
          </a>
        </li>
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
