# Place this file at /etc/systemd/system/medicos.service
[Unit]
Description=medicos daemon
Requires=medicos.socket
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/opt/medicosvoluntarios
ExecStart=/home/ubuntu/.pyenv/versions/medicosvoluntrios/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/medicos.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
