{% extends "minsa/base.html" %}

{% block title %}
  Lista de médicos
{% endblock title %}

{% block content %}
  <div class="border-bottom pb-4">
    <div class="row">
      <div class="table-responsive">
        <table class="table mb-0 table-center table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Apellidos y nombres</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Biografía</th>
            <th scope="col">---</th>
          </tr>
          </thead>
          <tbody>
          {% for medico in medicos %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <th>
                <p class="mt-2 mb-0 font-weight-normal">
                  {{ medico.persona.nombre_completo }}
                </p>
              </th>
              <th>
                <p class="mt-2 mb-0 font-weight-normal">
                  {{ medico.especialidad }}
                </p>
              </th>
              <td class="text-success">
                <p class="mt-2 mb-0 font-weight-normal">
                  {{ medico.biografia | default_if_none:"-" | truncatechars:50 }}
                </p>
              </td>
              <td>
                <a href="{% url 'minsa:medico-detalle' medico.pk %}" class="btn btn-primary">
                  Ver detalle
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% include "common/pagination_footer.html" %}

  </div>
{% endblock content %}
