{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'images/login.png' %}" />
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'style/materialdesignicons.min.css' %}" />
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <link rel="stylesheet" href="{% static 'style/default.css' %}" />
    <link rel="stylesheet" href="{% static 'style/css.css' %}" />
    {% block style %}{% endblock style %}

</head>
<body style="overflow: visible;">
    <!-- Loader -->
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <section class="bg-profile d-table w-100" style="background: url('/apps/static/images/bg.jpg') center center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="public-profile position-relative p-4 bg-white overflow-hidden rounded shadow" style="z-index: 1;">
                        <div class="row align-items-center">
                            <div class="col-lg-2 col-md-3 text-md-left text-center">
                                <img src="{% static 'images/avatar_medico.jpg' %}" class="avatar avatar-medium rounded-pill shadow d-block mx-auto" alt="">
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <div class="row align-items-center">
                                    <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0">
                                        <h3 class="title mb-0">{{ request.medico.persona.id }}) {{  request.persona | title }}</h3>
                                        <small class="text-muted h6 mr-2">{{ medico.especialidad }}</small>
                                        <ul class="list-inline mb-0 mt-3">
                                            <li class="list-inline-item mr-2">
                                                Trabajo: {{ medico.centro_laboral }}
                                            </li>
                                            <li>

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-5 text-md-right text-center">
                                        <ul class="list-unstyled profile-icons mb-0 mt-4">
                                            <li class="list-inline-item">
                                                <a href="{% url 'menu' %}" class="rounded-pill bg-success">
                                                    <i class="mdi mdi-format-list-bulleted text-light" title="Roles"></i>
                                                </a>
                                                {% block sub_menu %}{% endblock sub_menu %}
                                                <a href="{% url 'menu' %}" class="rounded-pill bg-dark">
                                                    <i class="mdi mdi-tools text-light" title="Mi perfil"></i>
                                                </a>
                                                <a href="{% url 'logout' %}" class="rounded-pill bg-danger">
                                                    <i class="mdi mdi-logout text-light" title="Salir"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section mt-60">
        <div class="container mt-lg-3">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="ml-lg-3">
                        <div class="border-bottom pb-4">
                            <p class="text-muted mb-0">
                                {% if medico.biografia %}
                                {{ medico.biografia }}
                                {% endif %}
                            </p>
                        </div>

                        {% block content %}
                        {% endblock content %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    {% block js %}{% endblock js %}
    {% block script %}{% endblock script %}
</body>
</html>
