{% extends 'medico/base.html' %}
{% load static %}

{% block title %}
    Detalles de la consulta
{% endblock title %}

{% block sub_menu %}
    <a href="{% url 'medico:index' %}" class="rounded-pill bg-warning">
        <i class="mdi mdi-keyboard-backspace text-light" title="Medico"></i>
    </a>
{% endblock sub_menu %}

{% block content %}
    <div class="border-bottom pb-4">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ml-lg-3">
                    <div class="border-bottom pb-4">
                        <h5>
                            <span>Paciente: {{ consulta.paciente.nombre_completo }}</span>
                            <span class="float-right">Código: {{ consulta.id }}</span>
                        </h5>
                        <p class="text-muted mb-0">
                            {{ consulta.detalle_dolencias }}
                        </p>
                    </div>

                    <div class="border-bottom pb-4">
                        <div class="row">
                            <div class="col-lg-3 mt-4">
                                <h5>Información:</h5>
                                <ul class="list-inline mb-0 mt-4">

                                    <li class="mt-3">
                                        <i class="mdi mdi-account float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Género:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.paciente.get_genero_display }}
                                            </a>
                                        </div>
                                    </li>

                                    <li class="mt-3"    >
                                        <i class="mdi mdi-email float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Correo electrónico :
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {%  if consulta.paciente.contacto.correo  %}
                                                {{ consulta.paciente.contacto.correo }}
                                                {% else %}
                                                --------
                                                {% endif %}
                                            </a>
                                        </div>
                                    </li>

                                    <li class="mt-3">
                                        <i class="mdi mdi-book float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Número de documento :
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.paciente.numero_documento }}
                                            </a>
                                        </div>
                                    </li>

                                    <li class="mt-3">
                                        <i class="mdi mdi-calendar float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Fecha de inscripción :
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.paciente.creado_en | date }}
                                            </a>
                                        </div>
                                    </li>

                                    <li class="mt-3">
                                        <i class="mdi mdi-cellphone float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Número de celular :
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {% if consulta.paciente.contacto.telefono_movil %}
                                                {{ consulta.paciente.contacto.telefono_movil }}
                                                {% else %}
                                                --------
                                                {% endif %}
                                            </a>
                                        </div>
                                    </li>

                                    <li class="mt-3">
                                        <i class="mdi mdi-phone float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Teléfono fijo:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {% if consulta.paciente.contacto.telefono_fijo %}
                                                {{ consulta.paciente.contacto.telefono_fijo }}
                                                {% else %}
                                                --------
                                                {% endif %}
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-lg-4 mt-4">
                                <h5>Detalles: </h5>
                                <ul class="list-inline mb-0 mt-4">
                                    <li class="mt-3">
                                        <i class="mdi mdi-cellphone-android float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Número de contacto:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.telefono }}
                                            </a>
                                        </div>
                                    </li>
                                    <li class="mt-3">
                                        <i class="mdi mdi-calendar-account float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Fecha de nacimiento:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.fecha_nacimiento }}
                                            </a>
                                        </div>
                                    </li>
                                    <li class="mt-3">
                                        <i class="mdi mdi-google-maps float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Lugar:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.lugar }}
                                            </a>
                                        </div>
                                    </li>
                                    <li class="mt-3">
                                        <i class="mdi mdi-web float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Contacto por:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.origen }}
                                            </a>
                                        </div>
                                    </li>

                                    <li class="mt-3">
                                        <i class="mdi mdi-timeline float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Tiempo de dolencias:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.tiempo_dolencias }}
                                            </a>
                                        </div>
                                    </li>

                                    <li class="mt-3">
                                        <i class="mdi mdi-timeline float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                Medicamentos:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.medicamentos }}
                                            </a>
                                        </div>
                                    </li>

                                    <li class="mt-3">
                                        <i class="mdi mdi-cigar float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                ¿Fuma?:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.fuma }}
                                            </a>
                                        </div>
                                    </li>


                                    <li class="mt-3">
                                        <i class="mdi mdi-drag float-left text-muted mr-2"></i>
                                        <div class="overflow-hidden d-block">
                                            <h6 class="text-primary mb-0">
                                                ¿Consume alcohol ó drogas?:
                                            </h6>
                                            <a href="javascript:void(0)" class="text-muted">
                                                {{ consulta.drogas }}
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-lg-5 mt-4">
                                <div class="">
                                    <div class="consulta-form">
                                        <h4 class="mb-4">Resultados de la atención</h4>
                                    </div>
                                    <span>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">

                                                <div class="form-group position-relative consulta-form">
                                                    <label>Comentarios <span class="text-danger">*</span></label>
                                                    {{ form.comentarios }}
                                                    {% if form.comentarios.errors %}
                                                        {% for error in form.comentarios.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div id="mensaje" class="form-group position-relative consulta-form">
                                                    <span class="alert alert-danger alert-dismissable"></span>
                                                </div>

                                                <div id="boton" class="form-group position-relative">

                                                    {% if consulta.asignada == False and  consulta.atendida == False %}
                                                    <button id="btn-envio" value="atender" class="btn btn-success">
                                                        Antender a ese paciente<i class="mdi mdi-chevron-right"></i>
                                                    </button>
                                                    {% elif consulta.asignada and  consulta.atendida == False %}
                                                    <button id="btn-envio" value="terminar" class="btn btn-warning">
                                                        Terminar la atención<i class="mdi mdi-chevron-right"></i>
                                                    </button>
                                                    {% elif consulta.asignada and  consulta.atendida %}
                                                    <button id="btn-cerrado" value="cerrado" class="btn btn-danger" disabled>
                                                        Cerrado<i class="mdi mdi-chevron-right"></i>
                                                    </button>
                                                    {% endif %}
                                                </div>

                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock content %}


{% block script %}
    <script type="application/javascript" src="{% static 'javascript/jquery.min.js' %}"></script>
    <script type="text/javascript" language="javascript">

    $(document).ready(function() {

        {% if consulta.asignada == False and  consulta.atendida == False %}
        $(".consulta-form").addClass("d-none");
        {% elif consulta.asignada and  consulta.atendida == False %}
        $(".consulta-form").removeClass("d-none");
        {% elif consulta.asignada and  consulta.atendida %}
        $(".consulta-form").removeClass("d-none");
        $("#id_comentarios").attr("disabled", true)
        {% endif %}

        $("#btn-envio").click(function(){
            update_consulta(this.value);
        })

        $("#mensaje").addClass("d-none");
    })

    function update_consulta(tipo) {

        let con = '{{ consulta.id }}';
        let comentarios = $("#id_comentarios").val();
        console.log(con, comentarios, tipo)

        let request = $.ajax({
            type: "POST",
            url: "{% url 'consulta:update_consulta_paciente' %}",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "comentarios": comentarios,
                "tipo": tipo,
                "con": con,

            },
        });
        request.done(function(response) {
            console.log(response)
            if (response.error){
                $("#mensaje").removeClass("d-none");
                $("#mensaje span").html(response.error);
            }else{
                location.reload();
            }

        })
    }
    </script>
{% endblock script %}