<p>1. USO DEL SITIO.</p>

<p><b>{{ organization }}</b>. ("medicosvoluntarios.pe") opera el sitio web www.medicosvoluntarios.pe y otros sitios y/o aplicaciones y servicios para su consumo en dispositivos móviles que tienen relación con estos términos de uso (cuyo conjunto nombraremos en adelante, "EL SITIO").</p>

<p>Se estipula expresamente que los servicios derivados de la plataforma tienen como único y exclusivo objetivo servir como un intermediario digital. En ningún momento, y bajo ninguna circunstancia, se entenderá que el fin u objetivo de la EL SITIO es prestar servicios médicos.</p>

<p>Dichos servicios médicos, en su caso, serán prestados de forma absolutamente independiente a EL SITIO y/o a <b>{{ organization }}</b>. por los PROVEEDORES DE SALUD a los USUARIOS.</p>

<p>Nosotros ponemos a disposición de los USUARIOS una plataforma para gestionar y ejecutar teleconsultas con médicos y profesionales de salud incluyendo actividades como la prescripción médica, la captura de datos clínicos y análisis médico. Al acceder y usar el sitio, usted acepta y se obliga a acatar estos términos de uso y todas las políticas que rigen el sitio. Si no desea vincularse a estos términos, le pedimos que no use EL SITIO.</p>

<p>2. LIMITACIÓN DE RESPONSABILIDAD.</p>

<p>Todos los PROVEEDORES DE SALUD, que ofrecen y/o prestan sus servicios a través de medicosvoluntarios.pe son profesionales independientes, que no tienen ninguna relación laboral con <b>{{ organization }}</b> y son totalmente responsables por los servicios que ofrecen.</p>

<p>Bajo ninguna circunstancia se entenderá que los PROVEEDORES DE SALUD son empleados, afiliados, agentes, representantes, o de cualquier otra manera relacionados a <b>{{ organization }}</b> o cualquiera de sus afiliadas. En este sentido, se acuerda expresamente que <b>{{ organization }}</b> no forma parte, ni adquiere obligación alguna derivada de, la prestación de servicios médicos por parte de los PROVEEDORES DE SALUD a USUARIOS. medicosvoluntarios.pe, no diagnostica ni realiza consultas y por ningún motivo interfiere con la práctica médica u otra práctica profesional de salud que ejercen los PROVEEDORES DE SALUD listados en EL SITIO. Todos los PROVEEDORES DE SALUD, son responsables de los servicios e indicaciones que prestan y que ofrecen y también del cumplimiento de las normatividades aplicables para el correcto ejercicio de su profesión.</p>

<p><b>{{ organization }}</b> ni EL SITIO ni cualquier medio por el cual tuvo acceso al sitio es responsable por las recetas médicas, consejos, indicaciones o servicios profesionales que obtuvo de los PROVEEDORES DE SALUD a través de los SERVICIOS que ofrece el sitio.</p>

<p><b>{{ organization }}</b>, así como cualquier persona relacionada y/o afiliada a <b>{{ organization }}</b>, incluyendo, sin limitar, directores, apoderados, representantes, administradores, empleados, accionistas y/o agentes, presentes o anteriores, no serán responsables de errores u omisiones en los contenidos de EL SITIO. Asimismo, no serán responsables, bajo ningún caso o circunstancia, por datos y/o perjuicios que se pudieren causar a USUARIOS y/o PROVEEDORES DE SALUD derivado del uso de la plataforma.</p>

<p>En ningún caso <b>{{ organization }}</b> tendrá responsabilidad derivada de violación del secreto profesional por parte de los PROVEEDORES DE SALUD, ni de cualquier daño y/o perjuicio que sean consecuencia directa de una lesión o daño causado por el tratamiento a un USUARIO, por parte de un PROVEEDOR DE SALUD.</p>

<p>USUARIOS y PROVEEDORES DE SALUD, mediante su aceptación a los presentes términos y condiciones, se obligan expresamente a sacar en paz y a salvo e indemnizar (incluyendo el pago de honorarios de abogados) a <b>{{ organization }}</b>, así como a cualquier persona relacionada y/o afiliada a <b>{{ organization }}</b>, incluyendo, sin limitar, directores, apoderados, representantes, administradores, empleados, accionistas y/o agentes, presentes o anteriores, de cualquier responsabilidad que derive, o pudiere derivar, del uso de EL SITIO, o de cualquier servicio derivado de dicho uso, incluyendo de manera enunciativa, más no limitativa, cualesquiera contingencias legales, fiscales, laborales, administrativas, civiles, penales, financieras, de salud o de cualquier otra índole, cualesquiera reclamación, demanda, juicio, acto, hecho u omisión que represente o pudiera representar una responsabilidad a cargo de <b>{{ organization }}</b>, o a cargo de personas relacionadas y/o afiliadas.</p>

<p>3. CONTENIDO DEL SITIO.</p>

<p>Ninguna información contenida en el sitio (salvo la que recomienden los PROVEEDORES DE SALUD, bajo su propio criterio profesional), debe considerarse como consulta médica o como garantía de que un tratamiento es apropiado o efectivo para el usuario y sus familiares.</p>

<p>4. AUTORIZACIÓN DE USO.</p>

<p>a.La teleconsulta / telemedicina es la entrega de servicios de salud usando tecnología de telecomunicaciones, generalmente, tecnologías interactivas de audio y video, pero también servicios de telefonía y chat. Durante la teleconsulta con un PROVEEDOR DE SALUD, detalles personales de salud así como detalles de tu historia clínica pueden ser comunicados y discutidos a través de tecnologías de comunicación virtual.</p>

<p>b.Los servicios de telemedicina que recibes de los PROVEEDORES DE SALUD, no intentan reemplazar la atención primaria de un médico o ser un médico permanente en casa. Podría darse el caso de desarrollar una relación usual de médico-paciente a través de la plataforma sin embargo, se deben acatar las instrucciones de los PROVEEDORES DE SALUD, de cuál es la mejor vía para que puedas ser diagnosticado y tratado. De cualquier forma y como en cualquier servicio de salud hay riesgos potenciales asociados al uso de la Telemedicina / Teleconsulta. Estos riesgos incluyen pero no se limitan a:</p>

<p>En algunos casos la información transmitida no es suficiente para permitir un diagnóstico o recomendación de salud apropiado (p.e. baja resolución de las imágenes, formatos no compatibles, internet lento, etc).</p>

<p>Atrasos en el diagnóstico o prescripción pueden ocurrir debido a fallas en los equipos electrónicos. Si esto ocurre deberás entrar en contacto con tu PROVEEDOR DE SALUD por cualquier otro medio.</p>

<p>En algunos casos, la falta de acceso a todo tu historial médico puede resultar en una prescripción de medicamentos que tengan un efecto adverso o alérgico o algunos otros errores de juicio.</p>

<p>Aunque los sistemas electrónicos que utilizamos incorporan protocolos de máxima seguridad para proteger la privacidad y la seguridad de tu información clínica, en casos extremos estos protocolos podrán fallar, causando una brecha de privacidad de la información clínica personal.</p>

<p>c) Aceptando estos Términos de Uso, confirmas que entiendes y aceptas:</p>

<p>Qué puedes esperar los beneficios anticipados del uso de los servicios de telemedicina que ofrecemos en tu favor, pero que ningún resultado puede ser garantizado o asegurado.</p>

<p>Que entiendes que las leyes de protección de privacidad y seguridad de la información aplican a la telemedicina y que has aceptado la política de privacidad de <b>{{ organization }}</b>. La comunicación electrónica que se lleva a cabo con EL SITIO, es transmitida a través de una interfaz segura y encriptada de transmisión de información.</p>

<p>Que el PROVEEDOR DE SALUD puede determinar que los SERVICIOS, no son apropiados para tus necesidades y puede recomendar consultas presenciales u otro tipo de asistencia.</p>

<p>d) Con respecto a la psicoterapia, puedes recibir información de tu PROVEEDOR DE SALUD acerca de los métodos de terapia, técnicas usadas y duración de tu terapia. Puedes en cualquier momento buscar una segunda opinión de otro terapeuta o terminar la terapia cuando lo decidas.</p>

<p>Si tu y tu PROVEEDOR DE SALUD, deciden realizar terapias de grupo o de parejas (en conjunto "TERAPIA DE GRUPO") entiendes y aceptas que la información discutida en la terapia de grupo es para fines terapéuticos y de ninguna forma para fines legales que involucren a los participantes del grupo. Así mismo aceptas a no citar al PROVEEDOR DE SALUD a testificar por o contra cualquier participante de la TERAPIA DE GRUPO o proveer información en alguna acción legal contra los participantes de la TERAPIA DE GRUPO. Entiendes y aceptas que cualquier información que los participantes de la TERAPIA DE GRUPO comuniquen por cualquier medio al PROVEEDOR DE SALUD queda a completa discreción de este último para compartirla con los demás participantes de la TERAPIA DE GRUPO.</p>

<p>Tu aceptas y compartes la responsabilidad con el PROVEEDOR DE SALUD, por el progreso de la terapia, incluyendo la fijación de objetivos y la terminación de la terapia.</p>

<p>E. MÉDICO Y/O PROFESIONAL DE LA SALUD: Al aceptar estos términos y condiciones autoriza que EL SITIO (medicosvoluntarios.pe) así como sus entidades legales puedan actuar como prestadores de servicios de telemedicina y que los datos personales entregados se utilizarán únicamente para facilitar el servicio prestado y solo podrán ser compartidos con instituciones dedicadas a la práctica y normatividad de la medicina en el Perú tales como:</p>

<p>El Ministerio de Salud
<br>El Instituto Nacional de Salud
<br>El Colegio Médico del Perú
<br>Seguro Social de Salud del Perú (EsSalud)</p>

<p>5. AVISO DE PRIVACIDAD.</p>

<p>El presente aviso de privacidad acata las Leyes de Protección de Datos Personales en Posesión de los Particulares, su Reglamento y los Lineamientos del Aviso de Privacidad, en todos los países donde EL SITIO tiene operaciones.</p>

<p>Es política y compromiso de <b>{{ organization }}</b>. con domicilio en $DOMICILIO_LEGAL respetar y proteger la privacidad de todos nuestros clientes y potenciales clientes, así como de los titulares de los datos personales que tengamos en nuestra posesión.</p>

<p>En <b>{{ organization }}</b>. procuramos mantener una comunicación constante y activa con nuestros miembros, usuarios, visitantes y demás personas importantes para nosotros. Salvo notificación o instrucción contraria del titular de los datos personales (en adelante "Titular"), Él o ella consiente su tratamiento y uso dentro y fuera de las jurisdicciones donde opera <b>{{ organization }}</b>. de conformidad con el presente aviso y los "términos de uso" del portal medicosvoluntarios.pe y reconoce que podrán ser manejados y/o transferidos directa o indirectamente por medicosvoluntarios.pe, los PROVEEDORES DE SALUD, así como también autoridades competentes dentro del marco legal aplicable.</p>


<p>El tratamiento de los datos personales del titular, comprende las siguientes finalidades:</p>

<p>• Ser contactado para solucionar y dar seguimiento a incidentes que tenga con el uso de EL SITIO.</p>

<p>• Ser contactado por los PROVEEDORES DE SALUD, para proveer los servicios de salud que haya solicitado.</p>

<p>• Que los USUARIOS puedan contactar a los PROVEEDORES DE SALUD, para recibir los servicios de salud solicitados.</p>

<p>• Ser contactado y enviarle información relativa a las solicitudes del "titular" o para agilizar y mejorar los servicios y mantener comunicación en general.</p>

<p>• Ser contactado y enviarle información relativa a los médicos o Especialistas, los cambios o mejoras de nuestros Servicios, así como otras comunicaciones, con el contenido que creemos le podría interesar.</p>

<p>• Ser contactado a fin de recordarle sobre citas próximas o de seguimiento en conjunto con el uso de determinadas herramientas Interactivas y otras aplicaciones comunitarias.</p>

<p>• Dar a conocer a nuestros miembros, usuarios y visitantes la información necesaria sobre los médicos o especialistas que forman parte de nuestra comunidad con el fin de que tengan acceso a la mejor opción en cuanto a experiencia, conocimientos, citas, horarios, ubicación, etc.</p>

<p>• Conocer los trabajos, experiencias y niveles de estudios de los Médicos o Especialistas de nuestra comunidad.</p>

<p>• Poner a disposición de los PROVEEDORES DE SALUD información necesaria para realizar un diagnóstico de salud con el fin de que pueda obtener un consejo una prescripción o un servicio de salud.</p>

<p>Para prevenir el acceso no autorizado a los datos personales del "titular" y con el fin de asegurar que la información sea utilizada para los fines establecidos en este aviso de privacidad, las opciones y medios que hemos establecido son, de manera general los mismos que utilizamos para nuestros propios datos y documentos.</p>

<p>El Titular siempre tendrá derecho al acceso, rectificación, cancelación, u oposición respecto el uso de sus datos personales y podrá revocar la autorización de medicosvoluntarios.pe para usar y tratar, así como limitar el uso o divulgación de sus datos personales mediante correo dirigido a la siguiente dirección: soporte@medicosvoluntarios.pe en el cual debe indicar su usuario y el deseo de eliminar su cuenta de la plataforma</p>

<p>Esta solicitud, independientemente de los medios en que ponemos a su disposición este aviso, es regulada por las leyes de los datos personales aplicables al país de residencia de su cuenta de usuario.</p>

<p>Todo cambio a los términos y condiciones de este Aviso de Privacidad, será publicado en nuestra página en internet www.medicosvoluntarios.pe para que el Titular siempre tenga conocimiento de la versión vigente del mismo, así como de los términos de Uso de nuestro sitio.</p>

<p>El presente Aviso de Privacidad no abarca los términos de privacidad de personas ajenas al sitio medicosvoluntarios.pe</p>

<p>6. CUENTA DE USUARIO.</p>

<p>Para hacer uso del sitio es requerido crear una cuenta de usuario (CUENTA DE USUARIO), ingresando tu nombre, edad, correo electrónico, teléfono, contraseña y otra información recolectada por EL SITIO (en conjunto llamada INFORMACIÓN DE LA CUENTA).</p>

<p>Para crear una CUENTA DE USUARIO debes ser mayor de edad para poder aceptar estos términos y condiciones vinculantes. Si no eres mayor de edad no debes registrarte para el uso de los SERVICIOS. Tu aceptas que la información que ingreses para crear la cuenta y cualquier información que ingreses al sitio, es verdadera, exacta, actualizada y completa.</p>

<p>No debes transferir o compartir tu contraseña ni la información de tu CUENTA DE USUARIO con nadie o crear más de una cuenta (con la excepción de subcuentas para niños de los cuales eres padre y responsable legal). Eres responsable de mantener la confidencialidad de tu cuenta y de todas las actividades que realices en ella. <b>{{ organization }}</b> se reserva el derecho de ejecutar cualquier acción que considere adecuada para salvaguardar la seguridad del sitio y de la información de tu cuenta. En ningún caso y bajo ninguna circunstancia <b>{{ organization }}</b>, será responsable por cualquier percance o daño resultado del uso del sitio, del uso de la información de tu cuenta o el despliegue de la información de tu cuenta a terceras personas. En ningún caso debes utilizar la cuenta de alguien más.</p>

<p>7. USO DEL SITIO PARA MENORES DE EDAD.</p>

<p>Los SERVICIOS, están disponibles para ser utilizados por niños (menos de 18 años), sin embargo el usuario a través del cual dispongan de los SERVICIOS debe ser mayor de 18 años y debe ser el padre o tutor del niño. Si tú te registras como el padre o tutor de un niño serás totalmente responsable del cumplimiento de estos términos y condiciones.</p>



<p>8. DERECHO DE ACCESO AL SITIO.</p>

<p>Por este medio se te otorga un derecho de uso limitado, no exclusivo y no transferible a EL SITIO y al uso de LOS SERVICIOS que se promueven en el, para tu uso personal y no comercial. Nos reservamos el derecho a nuestra entera discreción de negar o suspender el acceso y el uso de EL SITIO o sus SERVICIOS por cualquier razón. Tu aceptas que de ninguna manera:</p>

<p>Te harás pasar por otra persona o entidad.</p>

<p>Usaras EL SITIO y LOS SERVICIOS para violar ninguna ley ni regulación local, nacional o internacional.</p>

<p>Desmantelar, descompilar, decodificar, copiar todo o en partes, aplicar ingeniería en reversa, transferir, traducir cualquier software o componente parte de EL SITIO.</p>

<p>Distribuir virus o cualquier otro código que pueda dañar equipos tecnológicos.</p>

<p>Usar LOS SERVICIOS del sitio de cualquier manera que rebase el objetivo y el alcance plasmado en este documento.</p>

<p>Adicionalmente tu aceptas no utilizar lenguaje ofensivo y mantener siempre un comportamiento cordial con los PROVEEDORES DE SALUD y el personal de medicosvoluntarios.pe.</p>

<p>Recomendamos ampliamente no usar LOS SERVICIOS en computadoras públicas.</p>

<p>También recomendamos que no almacenes tu contraseña en el buscador o con otro software.</p>


<p>9. PROPIEDAD.</p>

<p>El sitio y todo su contenido, configuraciones, y funcionalidad ( que incluye pero no se limita a toda la información, software, texto, catálogos, imágenes, video, audio y diseño, flujos de procesos, botones de selección etc) son propiedad de <b>{{ organization }}</b>, sus licenciatarios y/o otros proveedores de material, los cuales están protegidos por leyes y tratados internacionales de derechos de autor, marcas y patentes.</p>

<p>Estos términos permiten el uso de EL SITIO y LOS SERVICIOS para tu uso personal y no comercial. No debes reproducir, distribuir, modificar, crear trabajos derivados, desplegar, publicitar, republicar, descargar, almacenar o transmitir ningún material de nuestro sitio, excepto lo explícitamente permitido en estos Términos y Condiciones. No debes acceder o usar ninguna parte de EL SITIO o los SERVICIOS con fines comerciales.</p>

<p>10. MARCAS.</p>

<p>Algunos nombres, logos y otros materiales desplegados en EL SITIO o en los SERVICIOS pueden ser marcas o nombres o logos (LAS MARCAS) propiedad de <b>{{ organization }}</b>. No tienes autorizado usar LAS MARCAS, sin permiso explicito y por escrito de <b>{{ organization }}</b>.</p>

<p>11. TERMINACIÓN DE USUARIO.</p>

<p>Tienes derecho en cualquier momento y por cualquier razón a desactivar tu CUENTA DE USUARIO mandando un correo a soporte@medicosvoluntarios.pe ó empleando la funcionalidad disponible para este mismo fin que podrás encontrar en la aplicación.</p>

<p><b>{{ organization }}</b>, puede suspender o cancelar tu CUENTA DE USUARIO, el uso de EL SITIO y LOS SERVICIOS, por cualquier razón en el momento que lo considere. Sujeto a la ley aplicable <b>{{ organization }}</b>, se reserva el derecho de mantener, almacenar, borrar o destruir, cualquier comunicación y material publicado y cargado en o através de EL SITIO.</p>

<p>13. COOKIES.</p>

<p>Una cookie es un archivo de texto muy pequeño que un servidor Web puede guardar en el disco duro de un equipo para almacenar algún tipo de información sobre el usuario. La cookie identifica el equipo de forma única, y sólo puede ser leída por el sitio Web que lo envió al equipo.</p>

<p>Una cookie no es un archivo ejecutable ni un programa y por lo tanto no puede propagar o contener un virus u otro software malicioso.</p>

<p>La utilización de las cookies tiene como finalidad exclusiva recordar las preferencias del usuario (idioma, país, inicio de sesión, características de su navegador, información de uso de nuestra web, etc.).</p>

<p><b>{{ organization }}</b>, en este acto, notifica a usuarios y proveedores que EL SITIO, así como todos los servicios relacionados con la misma, podrán utilizar cookies a efecto de mejorar los servicios prestados por <b>{{ organization }}</b>. Mediante el registro y utilización de la Plataforma, Usuarios y Proveedores otorgan su consentimiento a <b>{{ organization }}</b>, en relación con la utilización de cookies en EL SITIO.</p>

<p>La información de usuarios y proveedores obtenida a través de cookies se utiliza para analizar tendencias, administrar la Plataforma, conocer la conducta del usuario o proveedor, y recopilar información de carácter demográfico acerca de nuestra base de usuarios y proveedores en conjunto. <b>{{ organization }}</b>, puede utilizar esta información en sus servicios de marketing y publicidad. Esta información puede utilizarse para reducir o eliminar la cantidad de mensajes enviados a nuestros clientes.</p>


<p><b>POLÍTICA DE PRIVACIDAD</b></p>
