server {
    server_name medicosvoluntarios.pe;

    client_max_body_size 50m;

    location /favicon.ico {
        access_log off;
        log_not_found off;
    }
    location /apps/static/ {
        root /opt/medicos/staticfiles/;
    }
    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://unix:/run/medicos.sock;  # Change this according to your setup
    }
    listen 80;
}
