{% extends 'base.html' %}
{% load static %}
{% block title %}
    Voluntarios Medicos
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'style/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/owl.theme.default.min.css' %}"/>
{% endblock css %}
    {% block menu %}
    <div class="back-to-homess rounded d-none d-sm-block">
        {% if user.is_authenticated %}
            <a style="padding: 3px 8px; background-color:#E43F52;" href="{% url 'logout' %}" class="text-white rounded text-center">
                <i class="mdi mdi-login"></i>Salir
            </a>
        {% else %}
            <a style="padding: 3px 8px; background-color:#25A06E;" href="{% url 'login' %}" class="text-white rounded text-center">
                <i class="mdi mdi-login"></i>Ingresar
            </a>
        {% endif %}
    </div>
    {% endblock menu %}
{% block content %}
    <!-- Start -->
    <section class="bg-home bg-primary d-flex align-items-center" style="background: url('/apps/static/images/landing/bg1.png') center center;" id="home">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row margin-top-100 justify-content-center">
                <div class="col-lg-12">
                    <div class="title-heading text-center mt-5 position-relative" style="z-index: 1;">
                        <h1 class="heading title-dark text-white mb-3">Medicos voluntarios en linea</h1>
                        <p class="para-desc para-dark mx-auto text-light">
                            Somos medicos que estamos conectados para poder ayudar.
                            <!--Somos una comunidad de medicos que ayudamos a pacientes en linea que lo necesitan.-->
                        </p>
                         {% if not user.is_authenticated %}
                        <div class="mt-4 pt-2">
                            <a href="{% url 'medico:registro_de_medicos' %}" class="btn btn-warning">Registrate</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <section class="section">
        <div class="container pb-lg-4 mb-md-5 mb-4">
            <div class="row align-items-center mb-4">
                <div class="col-lg-9 col-md-8 text-sm-left">
                    <div class="section-title">
                        <h4 class="title mb-4">Medicos voluntarios online</h4>
                        <p class="text-muted para-desc mb-0">Somos una comunidad de <span class="text-primary font-weight-bold">medicos voluntarios </span>
                            que ayudamos a las personas que lo necesitan, de forma remota.</p>
                    </div>
                </div>
                <!--
                <div class="col-lg-3 col-md-4 mt-4 mt-sm-0 text-sm-right pt-2 pt-sm-0">
                    <a href="javascript:void(0)" class="btn btn-outline-primary">Leer mas <i class="mdi mdi-chevron-right"></i></a>
                </div>
                -->
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                    <div class="features">
                        <div class="image position-relative d-inline-block">
                            <img src="/apps/static/images/icon/computer.svg" class="avatar avatar-small" alt="">
                        </div>

                        <div class="content mt-4">
                            <h4 class="title-2">Dispositivo</h4>
                            <p class="text-muted">Solo necesitas tener un dispositivo electronico como una computadora, laptop, celular, entre otros.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                    <div class="features">
                        <div class="image position-relative d-inline-block">
                            <img src="/apps/static/images/icon/cloud.svg" class="avatar avatar-small" alt="">
                        </div>

                        <div class="content mt-4">
                            <h4 class="title-2">Conectado</h4>
                            <p class="text-muted">Necesitas estar conectado a internet, para poder acceder a los registros de los pacientes que registran su caso.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                    <div class="features">
                        <div class="image position-relative d-inline-block">
                            <img src="/apps/static/images/icon/server.svg" class="avatar avatar-small" alt="">
                        </div>

                        <div class="content mt-4">
                            <h4 class="title-2">Consultaria</h4>
                            <p class="text-muted">Se brinda consultoria en linea, para poder ayudar a los pacientes que en esta cuarentena y evitar salir de casa.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                    <div class="features">
                        <div class="image position-relative d-inline-block">
                            <img src="/apps/static/images/icon/big.svg" class="avatar avatar-small" alt="">
                        </div>

                        <div class="content mt-4">
                            <h4 class="title-2">Crecer</h4>
                            <p class="text-muted">Estamos creando una red de medicos que queiren apoyar a su pais en este momento de crisis.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                    <div class="features">
                        <div class="image position-relative d-inline-block">
                            <img src="/apps/static/images/icon/database.svg" class="avatar avatar-small" alt="">
                        </div>

                        <div class="content mt-4">
                            <h4 class="title-2">Registros</h4>
                            <p class="text-muted">Todas las consultas por nuestros pacientes estan registradas en una base de datos, para ser atendidos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                    <div class="features">
                        <div class="image position-relative d-inline-block">
                            <img src="/apps/static/images/icon/refresh.svg" class="avatar avatar-small" alt="">
                        </div>

                        <div class="content mt-4">
                            <h4 class="title-2">Atencion</h4>
                            <p class="text-muted">Se notificara a los medicos voluntarios por especialidad para que puedan atender segun su disponibilidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative">
        <div class="shape overflow-hidden text-light">
            <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <section class="section bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <img src="/apps/static/images/landing/1.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="section-title ml-lg-5">
                        <h4 class="title mb-4">Registrarse</h4>
                        <p class="text-muted">
                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
                        </p>
                        <ul class="list-unstyled feature-list text-muted">
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Registrarse a la aplicacion web.</li>
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Te llegara tus accesos a tu correo personal.</li>
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Ingresar con tu accesos a la aplicacion.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="section-title">
                        <h4 class="title mb-4">Conectarte</h4>
                        <p class="text-muted">
                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
                        </p>
                        <ul class="list-unstyled feature-list text-muted">
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Revisar en tu portal las notificaciones.</li>
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Seleccionar a un paciente para atenderlo.</li>
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Revisar sus datos personales.</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 order-1 order-md-2">
                    <img src="/apps/static/images/landing/deal-hend.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <img src="/apps/static/images/landing/2.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="section-title ml-lg-5">
                        <h4 class="title mb-4">Brindar consultoria online</h4>
                        <p class="text-muted">You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.</p>
                        <ul class="list-unstyled feature-list text-muted">
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Cambiar el estado por atendiendose.</li>
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Contactar al paciente.</li>
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Dar la consultoria online.</li>
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Registrar el proceso y conclusiones del paciente.</li>
                            <li><i class="mdi mdi-checkbox-marked-circle text-success mdi-18px h5 mr-2"></i>Cerrar el estado del paciente.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Porcentajes</h4>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                                <div class="key-feature d-flex p-3 bg-white rounded shadow">
                                    <div class="icon text-center rounded-pill mr-3">
                                        <i class="mdi mdi-cube-outline text-primary"></i>
                                    </div>
                                    <div class="content mt-2">
                                        <h4 class="title mb-0">217 Pacientes</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                                <div class="key-feature d-flex p-3 bg-white rounded shadow">
                                    <div class="icon text-center rounded-pill mr-3">
                                        <i class="mdi mdi-cryengine text-primary"></i>
                                    </div>
                                    <div class="content mt-2">
                                        <h4 class="title mb-0">20 Medicos</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                                <div class="key-feature d-flex p-3 bg-white rounded shadow">
                                    <div class="icon text-center rounded-pill mr-3">
                                        <i class="mdi mdi-settings-outline text-primary"></i>
                                    </div>
                                    <div class="content mt-2">
                                        <h4 class="title mb-0">89 Atendidos</h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="text-sm-left">
                            <p class="mb-0">© 2020.
                                <i class="mdi mdi-heart text-danger"></i> Comunidad de
                                <a href="/" target="_blank" class="text-success">
                                    MedicosVoluntarios
                                </a>.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <ul class="list-unstyled text-sm-right mb-0">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top rounded text-center" id="back-to-top" style="display: inline;">
        <i class="mdi mdi-chevron-up d-block"></i>
    </a>
    <!-- End -->
{% endblock content %}
{% block js %}
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/jquery.easing.min.js' %}"></script>
    <script src="{% static 'javascript/scrollspy.min.js' %}"></script>
    <script src="{% static 'javascript/owl.carousel.min.js' %}"></script>
    <script src="{% static 'javascript/owl.init.js' %}"></script>
    <script src="{% static 'javascript/switcher.js' %}"></script>
    <script src="{% static 'javascript/app.js' %}"></script>
{% endblock js %}
