{% extends 'base.html' %}
{% load static %}
{% block title %}
    Voluntarios Medicos
{% endblock title %}

{% block content %}
    <!-- Start -->
    <section class="bg-profile d-table w-100" style="background: url('/apps/static/images/bg.jpg') center center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="public-profile position-relative p-4 bg-white overflow-hidden rounded shadow" style="z-index: 1;">
                        <div class="row align-items-center">
                            <div class="col-lg-2 col-md-3 text-md-left text-center">
                                <img src="{% static 'images/avatar_medico.jpg' %}" class="avatar avatar-medium rounded-pill shadow d-block mx-auto" alt="">
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <div class="row align-items-center">
                                    <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0">
                                        <h3 class="title mb-0">{{  request.persona }}</h3>
                                        <small class="text-muted h6 mr-2">{{ medico.especialidad }}</small>
                                        <ul class="list-inline mb-0 mt-3">
                                            <li class="list-inline-item mr-2">
                                                Trabajo: {{ medico.centro_laboral }}
                                            </li>
                                            <li>

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-5 text-md-right text-center">
                                        <ul class="list-unstyled profile-icons mb-0 mt-4">
                                            <li class="list-inline-item">
                                                <a href="#" class="rounded-pill bg-dark">
                                                    <i class="mdi mdi-tools text-light" title="Editar"></i>
                                                </a>
                                                <a href="{% url 'logout' %}" class="rounded-pill bg-danger">
                                                    <i class="mdi mdi-logout text-light" title="Salir"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--

                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section mt-60">
        <div class="container mt-lg-3">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="ml-lg-3">
                        <div class="border-bottom pb-4">
                            <!--<ul class="list-unstyled social-icon">
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)" class="rounded">
                                        <i class="mdi mdi-linkedin" title="Linkedin"></i>
                                    </a>
                                </li>
                            </ul>-->
                            <p class="text-muted mb-0">
                                {% if medico.biografia %}
                                {{ medico.biografia }}
                                {% endif %}
                            </p>
                        </div>

                        <div class="border-bottom pb-4">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-center">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre completo</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Sintomas</th>
                                                <th scope="col">---</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for paciente in pacientes %}
                                            <tr>
                                                <th scope="row">1</th>
                                                <th>
                                                    <p class="mt-2 mb-0 font-weight-normal">
                                                        {{ paciente.paciente.nombre_completo }}
                                                    </p>
                                                </th>
                                                <th>
                                                    <p class="mt-2 mb-0 font-weight-normal">
                                                        {{ paciente.creada_en }}
                                                    </p>
                                                </th>
                                                <td class="text-success">
                                                    <p class="mt-2 mb-0 font-weight-normal">
                                                       {{ paciente.detalle_dolencias | truncatechars:50 }}
                                                    </p>
                                                </td>
                                                <td>
                                                    <a href="{% url 'consulta_detalle' paciente.id %}" class="btn btn-primary">
                                                        Ver detalles
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->
{% endblock content %}
