{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Roles</title>
        <link rel="shortcut icon" href="{% static 'images/login.png' %}" />
        <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'style/materialdesignicons.min.css' %}" />
        <link rel="stylesheet" href="{% static 'style/style.css' %}" />
        <link rel="stylesheet" href="{% static 'style/default.css' %}" />
        <link rel="stylesheet" href="{% static 'style/css.css' %}" />
    </head>

    <body class="bg-light">

        <section class="section ">
            <div class="container"><br/><br/><br/><br/><br/>
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Roles</h4>
                            <p class="text-muted para-desc mx-auto mb-0">
                                Escoga el  <span class="text-primary font-weight-bold">rol</span>
                                con el que desea ingresar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">

                    {% for perfil in perfiles %}
                    <div class="col-lg-3 col-md-6 mt-4 pt-2">
                        <div class="team text-center rounded bg-white pt-3">
                            <a href="{% url perfil.rol.home %}" class="name text-dark">
                                <div class="position-relative">
                                    <img src="{{ perfil.rol.avatar.url }}" class="img-fluid avatar avatar-ex-large rounded-pill shadow" alt="">
                                </div>
                                <div class="content pt-3 pb-3">
                                    <h5 class="mb-0">
                                        {{ perfil.rol.nombre }}
                                    </h5>
                                    <small class="designation text-muted"></small>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% empty %}
                        <h1 class="text-danger"> No tienes ningun rol asignado </h1>
                    {% endfor %}

                </div>
            </div>
        </section>
    </body>
</html>