{% extends 'base.html' %}
{% load static %}

{% block title %}
    Voluntarios Medicos | Registro
{% endblock title %}
{% block content %}
    <!-- Start -->
    <section class="bg-profile d-table w-100" style="background: url('/apps/static/images/bg.jpg') center center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center mb-0 text-title">
                        Registro de médicos voluntarios
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-profiles d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <form method="post">{% csrf_token %}
                        <div class="login-page bg-white shadow rounded p-4">
                            <div class="">
                                <h4 class="mb-4">Datos Personales</h4>
                            </div>
                            <span class="login-form">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.genero.label }}{% if form.genero.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-account ml-3 icons"></i>
                                                    {{ form.genero }}
                                                    {% if form.genero.errors %}
                                                        {% for error in form.genero.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.tipo_documento.label }}{% if form.tipo_documento.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-key ml-3 icons"></i>
                                                    {{ form.tipo_documento }}
                                                    {% if form.tipo_documento.errors %}
                                                        {% for error in form.tipo_documento.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.nombres.label }}{% if form.nombres.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-account ml-3 icons"></i>
                                                    {{ form.nombres }}
                                                    {% if form.nombres.errors %}
                                                        {% for error in form.nombres.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.numero_documento.label }}{% if form.numero_documento.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-key ml-3 icons"></i>
                                                    {{ form.numero_documento }}
                                                    {% if form.numero_documento.errors %}
                                                        {% for error in form.numero_documento.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.apellido_paterno.label }}{% if form.apellido_paterno.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-account ml-3 icons"></i>
                                                    {{ form.apellido_paterno }}
                                                    {% if form.apellido_paterno.errors %}
                                                        {% for error in form.apellido_paterno.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.pais_de_origen.label }}{% if form.pais_de_origen.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-key ml-3 icons"></i>
                                                    {{ form.pais_de_origen }}
                                                    {% if form.pais_de_origen.errors %}
                                                        {% for error in form.pais_de_origen.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.apellido_materno.label }}{% if form.apellido_materno.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-account ml-3 icons"></i>
                                                    {{ form.apellido_materno }}
                                                    {% if form.apellido_materno.errors %}
                                                        {% for error in form.apellido_materno.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="login-page bg-white shadow rounded p-4">
                            <div class="">
                                <h4 class="mb-4">Datos profesionales</h4>
                            </div>
                            <span class="login-form">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.especialidad.label }}{% if form.especialidad.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-account ml-3 icons"></i>
                                                    {{ form.especialidad }}
                                                    {% if form.especialidad.errors %}
                                                        {% for error in form.especialidad.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.linkedin.label }}{% if form.linkedin.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-key ml-3 icons"></i>
                                                    {{ form.linkedin }}
                                                    {% if form.linkedin.errors %}
                                                        {% for error in form.linkedin.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.numero_colegio_medico.label }}{% if form.numero_colegio_medico.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-account ml-3 icons"></i>
                                                    {{ form.numero_colegio_medico }}
                                                    {% if form.numero_colegio_medico.errors %}
                                                        {% for error in form.numero_colegio_medico.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.centro_laboral.label }}{% if form.centro_laboral.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-key ml-3 icons"></i>
                                                    {{ form.centro_laboral }}
                                                    {% if form.centro_laboral.errors %}
                                                        {% for error in form.centro_laboral.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.experiencia_en_anios.label }}{% if form.experiencia_en_anios.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-account ml-3 icons"></i>
                                                    {{ form.experiencia_en_anios }}
                                                    {% if form.experiencia_en_anios.errors %}
                                                        {% for error in form.experiencia_en_anios.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="login-page bg-white shadow rounded p-4">
                            <div class="">
                                <h4 class="mb-4">Datos de contacto</h4>
                            </div>
                            <span class="login-form">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.correo.label }}{% if form.correo.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-account ml-3 icons"></i>
                                                    {{ form.correo }}
                                                    {% if form.correo.errors %}
                                                        {% for error in form.correo.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.telefono_movil.label }}{% if form.telefono_movil.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-key ml-3 icons"></i>
                                                    {{ form.telefono_movil }}
                                                    {% if form.telefono_movil.errors %}
                                                        {% for error in form.telefono_movil.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.telefono_fijo.label }}{% if form.telefono_fijo.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-account ml-3 icons"></i>
                                                    {{ form.telefono_fijo }}
                                                    {% if form.telefono_fijo.errors %}
                                                        {% for error in form.telefono_fijo.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-10">
                                                <div class="form-group position-relative">
                                                    <label>{{ form.whatsapp.label }}{% if form.whatsapp.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                                    <i class="mdi mdi-key ml-3 icons"></i>
                                                    {{ form.whatsapp }}
                                                    {% if form.whatsapp.errors %}
                                                        {% for error in form.whatsapp.errors %}
                                                            <div class="badge badge-danger">
                                                                <span>{{ error }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="col-lg-4 text-center mb-0  mt-4">
                            {{ form.acepto_terminos }} Acepto los <a href="#terms" class="terms" data-toggle="modal" data-target="#myModal">
                                términos y condiciones
                            </a>.
                        </div>
                        <div class="col-lg-12 text-center mb-0  mt-4">
                            <button class="btn btn-primary w-100">registrarse</button>
                        </div>

                        {% include 'medico/terms.html' %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->
{% endblock content %}

{% block script %}
    <script type="application/javascript" src="{% static 'javascript/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" language="javascript">

    $(document).ready(function() {
        $(".terms").click(function(){

        })
    })
    </script>
{% endblock script %}
