[MASTER]
load-plugins=pylint_django

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    duplicate-code,
    invalid-name,
    missing-docstring,
    no-self-use,
    protected-access,
    too-few-public-methods,
    too-many-arguments,
    too-many-public-methods,
    unused-wildcard-import,
    wildcard-import,
    W0511, # don't complain over 'ToDo' tags —yet—.

[DESIGN]
max-parents=13

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete
